.header > h2 {
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.1em;
}

.article-content1 {
    margin:30px;
    font-family:'Playfair Display SC', serif;
    letter-spacing: 0.1em;
    text-align:center;
}

.video-content1 {
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.video-content1 > video{
    width:1200px;
    height:auto;
}

.img-content2 {
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-content2 > img{
    width:1200px;
    height:auto;
}

.article-content2 {
    margin:30px;
    font-family:'Playfair Display SC', serif;
    letter-spacing: 0.1em;
    text-align:center;
}

.img-content3 {
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-content3 > img{
    width:1200px;
    height:auto;
}

.article-content3 {
    margin:30px;
    font-family:'Playfair Display SC', serif;
    letter-spacing: 0.1em;
    text-align:center;
}

.footer > h2{
    padding-bottom: 20px;
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.1em;
}